In [1]:
import pandas as pd

pd.set_option("display.max_rows", 500)
pd.set_option("display.max_columns", 500)
pd.set_option("display.width", 1000)

# Case Study - Generate Transactions Data

This case study helps us understand how to fabricate transaction data one might encounter in a typical supermarket
operations study.

## Entity relationship diagram

![ER Diagram](../images/transactions_case_study_erd.svg)


## Table definition

Product: Dimension table containing product information.

| Column name  | Column logic                               |
|--------------|--------------------------------------------|
| product_id   | unique ID prefixed with PROD_              |
| product_name | name of the product                        |
| category     | category of the product                    |
| price        | price of the product                       |


Customer: Dimension table containing customer information.

| Column name | Column logic                       |
|-------------|------------------------------------|
| customer_id | unique ID prefixed with CUST_      |
| first_name  | first name of the customer         |
| last_name   | last name of the customer          |
| address     | customer address                   |
| membership  | membership type of the customer    |


Transactions: Fact table containing customer transaction details.

| Column name             | Column logic                             |
|-------------------------|------------------------------------------|
| transaction_id          | unique ID prefixed with TRNSCT_          |
| customer_id             | customer ID from customer master         |
| product_id              | product ID from product master           |
| quantity                | integer denoting total number of items   |
| transaction_amount      | total price (quantity*product price)     |
| transaction_date        | date and time of transaction             |

In [2]:
import yaml

yaml_string = """
product:
  num_rows: 5
  columns:
    product_id:
      type: generate_unique_id
      prefix: PROD_
      id_start_range: 1
      id_end_range: 100
      id_length: 10
    product_name:
      type: faker
      provider: pystr_format
      provider_args:
        string_format: "?????????"
        letters: "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
      # Setting seed is not recommended for general use, please consider when to use seed
      faker_seed: 1
    category:
      type: generate_values
      sample_values: ["CATEG1", "CATEG2", "CATEG3"]
      seed: 1
    price:
      type: generate_random_numbers
      start_range: 2
      end_range: 20
      integer: False

customer:
  num_rows: 5
  columns:
    customer_id:
      type: generate_unique_id
      prefix: CUST_
      id_start_range: 1
      id_end_range: 100
      id_length: 10
    name:
      type: faker
      provider: name
      # Setting seed is not recommended for general use, please consider when to use seed
      faker_seed: 1
    address:
      type: faker
      provider: address
      # Setting seed is not recommended for general use, please consider when to use seed
      faker_seed: 1
    membership:
      type: generate_values
      sample_values: ["PLATINUM", "GOLD", "SILVER", "BRONZE"]


transactions:
  num_rows: 50
  columns:
    transaction_id:
      type: generate_unique_id
      prefix: TRNSCT_
      id_start_range: 1
      id_end_range: 500
      id_length: 10
    customer_id:
      type: row_apply
      list_of_values:
      - customer.customer_id
      row_func: "lambda x: x"
      resize: True
      seed: 1
    product_id:
      type: row_apply
      list_of_values: [product.product_id, product.price]
      resize: True
      row_func: "lambda x, y: x"
      seed : 1
    product_price:
      type: row_apply
      list_of_values: [product.product_id, product.price]
      resize: True
      row_func: "lambda x, y: y"
      seed : 1
    quantity:
      type: generate_random_numbers
      start_range: 1
      end_range: 5
      integer: True
    transaction_amount:
      type: row_apply
      list_of_values: [transactions.product_price, transactions.quantity]
      row_func: "lambda x,y: x*y"
    transaction_date:
      type: generate_dates
      start_dt: 2021-01-01
      end_dt: 2021-06-30
      freq: D

"""
config = yaml.safe_load(yaml_string)

###  test

The data fabricator configuration will look like:

In [3]:
print(yaml_string)

product:
  num_rows: 5
  columns:
    product_id:
      type: generate_unique_id
      prefix: PROD_
      id_start_range: 1
      id_end_range: 100
      id_length: 10
    product_name:
      type: faker
      provider: pystr_format
      provider_args:
        string_format: "?????????"
        letters: "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
      # Setting seed is not recommended for general use, please consider when to use seed
      faker_seed: 1
    category:
      type: generate_values
      sample_values: ["CATEG1", "CATEG2", "CATEG3"]
      seed: 1
    price:
      type: generate_random_numbers
      start_range: 2
      end_range: 20
      integer: False

customer:
  num_rows: 5
  columns:
    customer_id:
      type: generate_unique_id
      prefix: CUST_
      id_start_range: 1
      id_end_range: 100
      id_length: 10
    name:
      type: faker
      provider: name
      # Setting seed is not recommended for general use, please consider when to use seed
      faker_seed: 1
    address:
      type: faker
      provider: address
      # Setting seed is not recommended for general use, please consider when to use seed
      faker_seed: 1
    membership:
      type: generate_values
      sample_values: ["PLATINUM", "GOLD", "SILVER", "BRONZE"]


transactions:
  num_rows: 50
  columns:
    transaction_id:
      type: generate_unique_id
      prefix: TRNSCT_
      id_start_range: 1
      id_end_range: 500
      id_length: 10
    customer_id:
      type: row_apply
      list_of_values:
      - customer.customer_id
      row_func: "lambda x: x"
      resize: True
      seed: 1
    product_id:
      type: row_apply
      list_of_values: [product.product_id, product.price]
      resize: True
      row_func: "lambda x, y: x"
      seed : 1
    product_price:
      type: row_apply
      list_of_values: [product.product_id, product.price]
      resize: True
      row_func: "lambda x, y: y"
      seed : 1
    quantity:
      type: generate_random_numbers
      start_range: 1
      end_range: 5
      integer: True
    transaction_amount:
      type: row_apply
      list_of_values: [transactions.product_price, transactions.quantity]
      row_func: "lambda x,y: x*y"
    transaction_date:
      type: generate_dates
      start_dt: 2021-01-01
      end_dt: 2021-06-30
      freq: D

The data will look like:

In [4]:
from data_fabricator.v0.core.fabricator import MockDataGenerator
from tabulate import tabulate

# Setting seed is not recommended for general use, please consider when to use seed
mock_generator = MockDataGenerator(instructions=config, seed=1)
mock_generator.generate_all()

for table_name, table in mock_generator.all_dataframes.items():
    if not table_name.startswith("_"):
        print(f"Table: {table_name}")
        print(tabulate(table, headers=table.columns, tablefmt="psql"))
        print("\n")

/var/folders/x8/_9l2j54n1lx_71w8kncv7mc80000gp/T/ipykernel_672/3606984286.py:1: DeprecationWarning: Deprecation Warning: You are using v0 of Data Fabricator API which will bedeprecated soon. Please migrate to v1 as soon as possible. For information onhow to migrate, please visit our documentation page.
  from data_fabricator.v0.core.fabricator import MockDataGenerator
Resizing list from 5 to 50
Resizing list from 5 to 50
Resizing list from 5 to 50

Table: product
+----+--------------+----------------+------------+----------+
|    | product_id   | product_name   | category   |    price |
|----+--------------+----------------+------------+----------|
|  0 | PROD_00009   | DWTGMLQUC      | CATEG1     | 10.0908  |
|  1 | PROD_00018   | AVLTALSFY      | CATEG3     | 13.7287  |
|  2 | PROD_00033   | XAAOYJFKA      | CATEG3     | 16.197   |
|  3 | PROD_00073   | FLMGGFLHA      | CATEG1     |  3.68947 |
|  4 | PROD_00098   | VOQEZWDIS      | CATEG2     |  2.51025 |
+----+--------------+----------------+------------+----------+


Table: customer
+----+---------------+------------------+-------------------------------+--------------+
|    | customer_id   | name             | address                       | membership   |
|----+---------------+------------------+-------------------------------+--------------|
|  0 | CUST_00050    | Ryan Gallagher   | 417 Kennedy Isle Apt. 706     | PLATINUM     |
|    |               |                  | Lake Aaron, OK 30485          |              |
|  1 | CUST_00056    | Jon Cole         | 00806 Costa Route             | GOLD         |
|    |               |                  | Kathrynside, KY 89216         |              |
|  2 | CUST_00078    | Rachel Davis     | 06812 Cummings Green          | SILVER       |
|    |               |                  | Paulashire, WI 67048          |              |
|  3 | CUST_00098    | Russell Reynolds | 97869 Castillo Shoal Apt. 258 | PLATINUM     |
|    |               |                  | Parsonsmouth, NC 14647        |              |
|  4 | CUST_00099    | April Griffin    | 7070 Melinda Plains Suite 228 | BRONZE       |
|    |               |                  | North Jamesside, MD 45566     |              |
+----+---------------+------------------+-------------------------------+--------------+


Table: transactions
+----+------------------+---------------+--------------+-----------------+------------+----------------------+---------------------+
|    | transaction_id   | customer_id   | product_id   |   product_price |   quantity |   transaction_amount | transaction_date    |
|----+------------------+---------------+--------------+-----------------+------------+----------------------+---------------------|
|  0 | TRNSCT_005       | CUST_00050    | PROD_00009   |        10.0908  |          2 |             20.1817  | 2021-01-01 00:00:00 |
|  1 | TRNSCT_012       | CUST_00099    | PROD_00098   |         2.51025 |          3 |              7.53076 | 2021-01-04 00:00:00 |
|  2 | TRNSCT_014       | CUST_00098    | PROD_00073   |         3.68947 |          4 |             14.7579  | 2021-01-05 00:00:00 |
|  3 | TRNSCT_015       | CUST_00056    | PROD_00018   |        13.7287  |          4 |             54.9147  | 2021-01-08 00:00:00 |
|  4 | TRNSCT_016       | CUST_00078    | PROD_00033   |        16.197   |          3 |             48.5911  | 2021-01-09 00:00:00 |
|  5 | TRNSCT_052       | CUST_00078    | PROD_00033   |        16.197   |          3 |             48.5911  | 2021-01-15 00:00:00 |
|  6 | TRNSCT_062       | CUST_00098    | PROD_00073   |         3.68947 |          1 |              3.68947 | 2021-01-18 00:00:00 |
|  7 | TRNSCT_096       | CUST_00098    | PROD_00073   |         3.68947 |          1 |              3.68947 | 2021-01-19 00:00:00 |
|  8 | TRNSCT_111       | CUST_00050    | PROD_00009   |        10.0908  |          4 |             40.3634  | 2021-01-22 00:00:00 |
|  9 | TRNSCT_113       | CUST_00050    | PROD_00009   |        10.0908  |          2 |             20.1817  | 2021-01-24 00:00:00 |
| 10 | TRNSCT_114       | CUST_00099    | PROD_00098   |         2.51025 |          1 |              2.51025 | 2021-01-29 00:00:00 |
| 11 | TRNSCT_119       | CUST_00078    | PROD_00033   |        16.197   |          3 |             48.5911  | 2021-02-10 00:00:00 |
| 12 | TRNSCT_120       | CUST_00098    | PROD_00073   |         3.68947 |          3 |             11.0684  | 2021-02-12 00:00:00 |
| 13 | TRNSCT_149       | CUST_00050    | PROD_00009   |        10.0908  |          3 |             30.2725  | 2021-02-13 00:00:00 |
| 14 | TRNSCT_152       | CUST_00078    | PROD_00033   |        16.197   |          2 |             32.394   | 2021-02-15 00:00:00 |
| 15 | TRNSCT_163       | CUST_00098    | PROD_00073   |         3.68947 |          2 |              7.37895 | 2021-02-16 00:00:00 |
| 16 | TRNSCT_171       | CUST_00056    | PROD_00018   |        13.7287  |          3 |             41.186   | 2021-02-17 00:00:00 |
| 17 | TRNSCT_177       | CUST_00099    | PROD_00098   |         2.51025 |          4 |             10.041   | 2021-02-21 00:00:00 |
| 18 | TRNSCT_196       | CUST_00099    | PROD_00098   |         2.51025 |          3 |              7.53076 | 2021-02-28 00:00:00 |
| 19 | TRNSCT_214       | CUST_00050    | PROD_00009   |        10.0908  |          2 |             20.1817  | 2021-03-05 00:00:00 |
| 20 | TRNSCT_217       | CUST_00050    | PROD_00009   |        10.0908  |          2 |             20.1817  | 2021-03-07 00:00:00 |
| 21 | TRNSCT_225       | CUST_00078    | PROD_00033   |        16.197   |          1 |             16.197   | 2021-03-10 00:00:00 |
| 22 | TRNSCT_236       | CUST_00099    | PROD_00098   |         2.51025 |          1 |              2.51025 | 2021-03-11 00:00:00 |
| 23 | TRNSCT_254       | CUST_00056    | PROD_00018   |        13.7287  |          3 |             41.186   | 2021-03-13 00:00:00 |
| 24 | TRNSCT_271       | CUST_00056    | PROD_00018   |        13.7287  |          4 |             54.9147  | 2021-03-16 00:00:00 |
| 25 | TRNSCT_278       | CUST_00078    | PROD_00033   |        16.197   |          3 |             48.5911  | 2021-03-17 00:00:00 |
| 26 | TRNSCT_284       | CUST_00050    | PROD_00009   |        10.0908  |          2 |             20.1817  | 2021-03-26 00:00:00 |
| 27 | TRNSCT_285       | CUST_00056    | PROD_00018   |        13.7287  |          1 |             13.7287  | 2021-03-30 00:00:00 |
| 28 | TRNSCT_323       | CUST_00078    | PROD_00033   |        16.197   |          3 |             48.5911  | 2021-04-02 00:00:00 |
| 29 | TRNSCT_329       | CUST_00078    | PROD_00033   |        16.197   |          4 |             64.7881  | 2021-04-04 00:00:00 |
| 30 | TRNSCT_333       | CUST_00056    | PROD_00018   |        13.7287  |          4 |             54.9147  | 2021-04-16 00:00:00 |
| 31 | TRNSCT_347       | CUST_00056    | PROD_00018   |        13.7287  |          3 |             41.186   | 2021-04-17 00:00:00 |
| 32 | TRNSCT_352       | CUST_00056    | PROD_00018   |        13.7287  |          4 |             54.9147  | 2021-04-26 00:00:00 |
| 33 | TRNSCT_370       | CUST_00078    | PROD_00033   |        16.197   |          1 |             16.197   | 2021-04-27 00:00:00 |
| 34 | TRNSCT_371       | CUST_00056    | PROD_00018   |        13.7287  |          3 |             41.186   | 2021-04-28 00:00:00 |
| 35 | TRNSCT_372       | CUST_00050    | PROD_00009   |        10.0908  |          4 |             40.3634  | 2021-05-04 00:00:00 |
| 36 | TRNSCT_381       | CUST_00099    | PROD_00098   |         2.51025 |          3 |              7.53076 | 2021-05-05 00:00:00 |
| 37 | TRNSCT_390       | CUST_00078    | PROD_00033   |        16.197   |          2 |             32.394   | 2021-05-10 00:00:00 |
| 38 | TRNSCT_392       | CUST_00098    | PROD_00073   |         3.68947 |          2 |              7.37895 | 2021-05-18 00:00:00 |
| 39 | TRNSCT_429       | CUST_00050    | PROD_00009   |        10.0908  |          3 |             30.2725  | 2021-05-19 00:00:00 |
| 40 | TRNSCT_441       | CUST_00099    | PROD_00098   |         2.51025 |          4 |             10.041   | 2021-05-21 00:00:00 |
| 41 | TRNSCT_452       | CUST_00099    | PROD_00098   |         2.51025 |          1 |              2.51025 | 2021-05-22 00:00:00 |
| 42 | TRNSCT_459       | CUST_00050    | PROD_00009   |        10.0908  |          4 |             40.3634  | 2021-05-26 00:00:00 |
| 43 | TRNSCT_462       | CUST_00056    | PROD_00018   |        13.7287  |          4 |             54.9147  | 2021-05-30 00:00:00 |
| 44 | TRNSCT_470       | CUST_00098    | PROD_00073   |         3.68947 |          4 |             14.7579  | 2021-06-02 00:00:00 |
| 45 | TRNSCT_473       | CUST_00098    | PROD_00073   |         3.68947 |          3 |             11.0684  | 2021-06-03 00:00:00 |
| 46 | TRNSCT_475       | CUST_00099    | PROD_00098   |         2.51025 |          4 |             10.041   | 2021-06-06 00:00:00 |
| 47 | TRNSCT_481       | CUST_00078    | PROD_00033   |        16.197   |          3 |             48.5911  | 2021-06-09 00:00:00 |
| 48 | TRNSCT_488       | CUST_00099    | PROD_00098   |         2.51025 |          3 |              7.53076 | 2021-06-19 00:00:00 |
| 49 | TRNSCT_497       | CUST_00098    | PROD_00073   |         3.68947 |          2 |              7.37895 | 2021-06-26 00:00:00 |
+----+------------------+---------------+--------------+-----------------+------------+----------------------+---------------------+